{# This is a Jinja2 template that will render out to $ROOT/conda/meta.yaml #}
package:
  name: 'pmdarima'
  {% raw %}
  version: "{{ environ.get('GIT_DESCRIBE_TAG', '') }}"

{# Path where setup.py lies from root/conda (since that is where this will be rendered) #}
source:
  git_rev: "v{{ environ.get('GIT_DESCRIBE_TAG', '') }}"
  git_url: https://github.com/alkaline-ml/pmdarima.git

build:
  number: "{{ environ.get('GIT_DESCRIBE_NUMBER', '') }}"
  string: "{{ environ.get('GIT_BUILD_STR', '') }}"
  script: '{{ PYTHON }} -m pip install . --no-deps -vv'
  {% endraw %}
  ignore_run_exports:
    - pip
    - statsmodels
    - numpy
    - numpy-base
    - scipy
    - cython
    - scikit-learn
    - pandas
    - python

  requirements:
    build:
      - {{ numpy_version }}
      - git                  [not win]
      - m2-git               [win]
      - posix                [win]
      - m2w64-toolchain      [win]
      {% raw %}
      - {{ compiler('c') }}
      {% endraw %}

    host:
      - pip
      - python
      {% for package in requirements %}
      - {{ package }}
      {% endfor %}

    run:
      - python
      {% for package in requirements %}
      - {{ package }}
      {% endfor %}

test:
  commands:
    {# conda-forge has the wrong versions pinned, so we have to pip install these #}
    - pip install pytest pytest-mpl pytest-benchmark
    {# Cannot use `make` in the meta.yaml file #}
    - pytest --showlocals --durations=20 --pyargs pmdarima --benchmark-skip

about:
  home: https://github.com/alkaline-ml/pmdarima
  license: MIT
  license_file: LICENSE
  summary: Python's forecast::auto.arima equivalent
  dev_url: https://github.com/alkaline-ml/pmdarima
  doc_url: https://alkaline-ml.com/pmdarima

extra:
  maintainers:
    - Taylor G. Smith
